@page
@model IndexModel
@using Microsoft.Extensions.Options;
@inject IOptions<CustomStoreSettings> OptionsCustomStoreSettings
@{
    ViewBag.StoreName = OptionsCustomStoreSettings.Value.StoreName;
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to Store</h1>
        <h1 class="display-4">@ViewBag.StoreName</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
